<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link href="/css/nv.d3.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/index.css' />
    <script src="/js/d3.js"></script>
    <script src="/js/nv.d3.js"></script>
    <script src="/js/dimple.v2.1.6.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
