<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link href="/css/nv.d3.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/index.css' />
    <script src="/js/index.js"></script>
    <script src="/js/fuzzysearch.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/dimple.v2.1.6.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/horsey.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <link rel='stylesheet' href='/css/bootstrap-datetimepicker.min.css' />
  <body>
      {{{body}}}
  </body>
</html>
