body {
  min-height: 2000px;
  padding-top: 150px;
}
    
.height400 {
  height: 400px;
}
.height500 {
  height: 400px;
}
.height600 {
  height: 400px;
}
.height700 {
  height: 700px;
}
.pad50 {
  padding: 50px;
}
.ui-widget-content {
  z-index:1200 !important
}
.breadcrumb{
  margin-bottom:0px; !important
}
